/* Datatable */

/* #btable {
} */

.App {
  max-width: 860px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

#btable table {
  border-collapse: collapse;
  width: 100%;
}

#btable th,
td {
  padding: 15px;
  text-align: left;
}

#btable table,
th,
td {
  border-bottom: 1px solid#e8e8e8;
}

#btable {
  font-family: Arial, Helvetica, sans-serif;
}

.global-search-input {
  float: right;
  animation: global-search-input;
  animation-duration: 1s;
}

@keyframes global-search-input {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Styles */

#btable .table-header {
  background: #fafafa;
  padding: 10px;
}

#btable thead tr {
  background: #fafafa;
}

#btable .row {
  cursor: pointer;
}

#btable .row:hover {
  background: #e6f7ff;
  transition: .3s;
}

#btable tr:nth-child(even) {
  background-color: #f7fbff;
}

#btable input {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  /* transition: .1s; */
}

#btable input:focus {
  padding: 5px;
  outline: 2px solid #e6f7ff;
}