/* Datatable */

table {
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
}

table,
th,
td {
  border: 1px solid black;
}

.show-search-input {
  border: 1px solid red;
  animation: show-search-input;
  animation-duration: 1s;
}

@keyframes show-search-input {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}